.panda-bg-info{
    background-color: #fceae8;
}
.categories img{
    width: 100px;
}
.category-bg-watch{
    background-color: #ffa500;
}
.category-bg-bag{
    background-color: #da70d6;
}
.category-bg-shoes{
    background-color: #0000ff;
}
.panda-btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}